spring:
  application:
    name: Gateway

  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          routes:
            - id: auth-service
              uri: lb://AUTHSERVICE
              predicates:
                - Path=/api/v1/auth/**

            - id: workspace-service
              uri: lb://WORKSPACESERVICE
              predicates:
                - Path=/api/v1/workspaces/**,/api/v1/tasks/**,/api/v1/assignments/**

            - id: interview-service
              uri: lb://INTERVIEW-SERVICE
              predicates:
                - Path=/api/v1/interview/**

            - id: roadmap-service
              uri: lb://Roadmap-Service
              predicates:
                - Path=/api/v1/task/** , /api/v1/roadmap/**

            - id: portfolio-service
              uri: lb://PortfolioService
              predicates:
                - Path=/api/v1/portfolio/**
server:
  port: 8080

# Idempotency Configuration
idempotency:
  # Default TTLs
  defaults:
    in-progress: 30s
    completed: 24h

  # Endpoint-specific TTL overrides
  endpoints:

    # Workspace creation
    "POST:/api/v1/workspaces":
      in-progress: 10s
      completed: 1h

    # Task creation
    "POST:/api/v1/tasks":
      in-progress: 10s
      completed: 1h

    # Assignment creation
    "POST:/api/v1/assignments":
      in-progress: 10s
      completed: 1h


# RSA public key for JWT validation
jwt:
  public-key: classpath:public.pem

# JWKS URL of Auth Service (using Eureka service discovery)
auth:
  jwks-url: http://AUTHSERVICE/.well-known/jwks.json
  jwks-refresh-ms: 60000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.SwitchBoard.Gateway: DEBUG
    org.springframework.security: DEBUG
    io.jsonwebtoken: DEBUG
