
spring:
  application:
    name: Gateway
  profiles:
    default: local

  config:
    import: optional:configserver:${CONFIG_SERVER_URL}

  cloud:
    config:
      fail-fast: false

      retry:
        max-attempts: 10
        initial-interval: 2000
        multiplier: 1.5
        max-interval: 10000
